@using MyServer.Web.Main.Areas.ImageGallery.Controllers.Album
@using Newtonsoft.Json
@model MyServer.Web.Main.Areas.ImageGallery.Models.Album.AlbumViewModel

<div class="row">
    <div class="well well-sm">
        <h1 class="well-title text-center">@Model.Title</h1>
        <h4 class="text-center">@Model.Date</h4>
        <hr/>
        @if (Model.Description != null)
        {
            <p class="text-center">
                @Html.Raw(Model.Description)
            </p>
            <hr/>
        }

        @if (Model.ImageCoordinates != null)
        {
            foreach (var gps in Model.ImageCoordinates)
            {
                var url = "http://www.google.com/maps/place/" + gps.Latitude + "," + gps.Longitude;
                <p class="text-center">
                    <span class="glyphicon glyphicon-map-marker"></span> 
                    <a href="@url" target="_blank">@gps.LocationName</a>
                </p>
            }
            <hr/>
        }

        <div class="btn-group text-center">
            <div class="btn-group">
                <a href="#" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Download
                    <span id="loading" style="display: none">
                        <img src="~/Content/ajax-loader.gif" alt="" />
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Ajax.ActionLink("Low", nameof(AlbumController.Download), new { id = @Model.Id }, new AjaxOptions() { HttpMethod = "GET", LoadingElementId = "loading", OnSuccess = "window.location.href = data;" }, new { @class = "btn" })</li>
                    <li>@Ajax.ActionLink("Middle", nameof(AlbumController.Download), new { id = @Model.Id }, new AjaxOptions() { HttpMethod = "GET", LoadingElementId = "loading", OnSuccess = "window.location.href = data;" }, new { @class = "btn" })</li>
                    <li>@Ajax.ActionLink("High", nameof(AlbumController.Download), new { id = @Model.Id }, new AjaxOptions() { HttpMethod = "GET", LoadingElementId = "loading", OnSuccess = "window.location.href = data;" }, new { @class = "btn" })</li>
                </ul>
            </div>
            <div id="shareBtn" class="btn btn-success clearfix">Share</div>
        </div>

        <div class="overlay-album mygallery lightgallery">
            @foreach (var image in Model.Images)
            {
                <a href='@image.MiddleImageSource' data-download-url="@image.OriginalDownloadPath">
                    <img alt="@image.Info" src='@image.LowImageSource'/>
                </a>
            }
        </div>
    </div>
</div>

<meta property="og:url" content='@("http://atanas.it/ImageGallery/Album/Details/" + Model.Id)' />
<meta property="og:type" content="article" />
<meta property="og:title" content="@Model.Title" />
<meta property="og:description" content="@Model.Description" />
<meta property="og:image" content="@Model.CoverImage" />
<meta property="fb:app_id" content="521558431365642" />

<script>
    $(document)
        .ready(function() {

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '521558431365642',
                    xfbml: true,
                    version: 'v2.6'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        document.getElementById('shareBtn').onclick = function() {
            urlfb = 'http://atanas.it/ImageGallery/Album/Details/' + '@Model.Id';
            FB.ui({
            method: 'share',
            display: 'popup',
            href: urlfb,
        }, function(response){});
        }

        $('.mygallery').lightGallery({
            speed: 400,
            hideBarsDelay: 2000,
            controls: false,
            thumbnail: false,
            pause: 3000
        });

        $(".mygallery").justifiedGallery({
            rowHeight: 200,
            maxRowHeight: 266,
            fixedHeight: false,
            margins: 2,
            lastRow: 'nojustify',
            captions: false,
            border: 0,
            thumbnailPath: function (currentPath, width, height) {
                if (Math.max(width, height) < 266) {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1low$2");
                } else {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1medium$2");
                }
            }

        });
    });
</script>
