@using MyServer.Web.Main.Areas.ImageGallery.Controllers.Album
@model IEnumerable<MyServer.Web.Main.Areas.ImageGallery.Models.Album.AlbumViewModel>

<br/>
<br/>
<br />
<div class="well k-content">
    <h4 class="well-title">Albums</h4>
    @foreach (var album in Model)
    {
        <hr />
        <h2>@Html.ActionLink(@album.Title, nameof(AlbumController.Details), new { Id = @album.Id })</h2>
        <p>@album.StartDate - @album.EndDate</p>
        <p>@album.ItemsCount images</p>
        <img src='@Url.Content(album.FullLowFileFolder + album.CoverImage)' />
    }
</div>