@using MyServer.Web.Main.Areas.ImageGallery.Controllers.Album
@model IEnumerable<MyServer.Web.Main.Areas.ImageGallery.Models.Album.AlbumViewModel>

<br/>
<br/>
<br />


<style>
body {
    font: normal 16px/1.5 Arial, sans-serif;
}

h1, p {
    margin: 0;
    padding: 0 0 .5em;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    /*margin: 0 auto;*/
}

/*
 * Caption component
 */
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
</style>

<div id="mygallery" class="container">
    @foreach (var album in Model)
    {
        <a class="caption" href='@Url.Content("Album" + "\\" + nameof(AlbumController.Details) + "\\" + album.Id)'>
            <img class="caption__media" alt="Title 1" src='@Url.Content(album.FullLowFileFolder + album.CoverImage)'/>
            <div class="caption__overlay">
                <h1 class="caption__overlay__title">@album.Title</h1>
                <p class="caption__overlay__content">
                    @album.StartDate - @album.EndDate<br/>
                    @album.ItemsCount images
                </p>
            </div>
        </a>
    }
</div>
@*<div class="well k-content">
        <h4 class="well-title">Albums</h4>
        @foreach (var album in Model)
        {
            <hr />
            <h2>@Html.ActionLink(@album.Title, nameof(AlbumController.Details), new { Id = @album.Id })</h2>
            <p>@album.StartDate - @album.EndDate</p>
            <p>@album.ItemsCount images</p>
            <img src='@Url.Content(album.FullLowFileFolder + album.CoverImage)' />
        }
    </div>*@

<script>
    $(document).ready(function () {
        $("#mygallery").justifiedGallery({
            rowHeight: 300,
            maxRowHeight: 400,
            sizeRangeSuffixes: 
                {'lt100':'_t', 
                'lt240':'_m', 
                'lt320':'_n', 
                'lt500':'', 
                'lt640':'_z', 
                'lt1024':'_b'},
            fixedHeight: false,
            margins: 3,
            lastRow: 'nojustify',
            captions: false,
            thumbnailPath: function (currentPath, width, height) {
                if (Math.max(width, height) < 300) {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1low$2");
                } else {
                    return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1medium$2");
                }
            }

        });
    });
</script>