@model object
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Identity
@using MyServer.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var LocString = ViewBag.StringLocalizer;
}

@if (SignInManager.IsSignedIn(User) && SignInManager.Context.User.IsInRole("Admin"))
{
    <div>
        <div id="area-view-mode">
            <div class="text-center">
                <a class="btn btn-default" id="edit-btn">@LocString["Edit"]</a>
            </div>
            <hr/>
            <div id="content-data" class="reset-this"></div>
            <hr />
            <div class="text-center">
                <a class="btn btn-default" id="pdf-btn">@LocString["SaveAsPdf"]</a>
            </div>
        </div>

        <div id="area-edit-mode">
            <div class="text-center">
                <a class="btn btn-default" id="save-btn">@LocString["Save"]</a>
            </div>
            <hr />
            @(Html.Kendo().Editor().Name("editor").Encoded(false).HtmlAttributes(new { style = "height:440px", aria_label = "editor" })
                .Resizable(resizable => resizable.Content(true).Toolbar(true))
                .ImageBrowser(imageBrowser => imageBrowser.Image("/UserFiles/{0}")
                .Read("Read", "ImageBrowser")
                .Create("Create", "ImageBrowser")
                .Destroy("Destroy", "ImageBrowser")
                .Upload("Upload", "ImageBrowser")
                // .Thumbnail("Thumbnail", "ImageBrowser")
                ))
            </div>
    </div>
    
    <script>
        $('#area-view-mode').show();
        $('#area-edit-mode').hide();

        $("#edit-btn").click(function () {
            $('#area-edit-mode').show();
            $('#area-view-mode').hide();
        });

        $("#save-btn").click(function () {
            $.ajax({
                type: "POST",
                url: "/api/content",
                data: { key: '@Model.ToString()', value: $('#editor').val()},
                success: function() {
                    $('#area-edit-mode').hide();
                    $('#area-view-mode').show();

                    $.ajax({
                        url: "/api/content",
                        type: "get",
                        data: {
                            key: '@Model.ToString()'
                        },
                        success: function(response) {
                            $("#content-data").html(response);
                            var editor = $("#editor").data("kendoEditor");
                            if (editor) {
                                editor.value(response);
                            }
                        },
                        error: function(xhr) {
                            //Do Something to handle error
                        }
                    });
                }
            });
        });
    </script>
}
else
{
    <div>
        <div id="content-data" class="reset-this"></div>
    </div>
    <hr />
    <div class="text-center">
        <a class="btn btn-default" id="pdf-btn">@LocString["SaveAsPdf"]</a>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/content",
            type: "get",
            data: {
                key: '@Model.ToString()'
            },
            success: function(response) {
                $("#content-data").html(response);
                var editor = $("#editor").data("kendoEditor");
                if (editor) {
                    editor.value(response);
                }
            },
            error: function(xhr) {
                //Do Something to handle error
            }
        });

        $("#pdf-btn").click(function() {
            var doc = new jsPDF();          
            var elementHandler = {
                '#ignorePDF': function (element, renderer) {
                    return true;
                }
            };

            var source = $('#content-data').html();
            doc.fromHTML(
                source,
                15,
                15,
                {
                    'width': 180,'elementHandlers': elementHandler
                });

            doc.save("output.pdf");
            window.open(
                "output.pdf",
                "_blank" // <- This is what makes it open in a new window.
            );
        });
    });
</script>
