@using MyServer.Web.Models.Home
<div class="well well-mobile">
    <div>
        <h4 class="text-center">@LocString["Latest albums"]</h4>
        @{
            var albums = ViewData["LatestAlbums"] as List<HomeAlbumViewModel>;

            if (albums != null)
            {
                <table class="table">
                    @foreach (var album in albums)
                    {
                        <tr>
                            <td class="col-md-5">
                                <a asp-area="ImageGallery" asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">
                                    @album.Title
                                </a>
                            </td>
                            <td class="col-md-5">@album.Date</td>
                            <td class="col-md-2">@album.ImagesCountCover</td>
                        </tr>                        
                    }
                </table>
            }
        }
        <hr />
    </div>
</div>