<div class="well well-mobile">
    <div>
        <h4>
            @LocString["Statistics"]
        </h4>
        <hr/>
        <h4>
            @ViewData["AlbumsCount"] @LocString["Albums"]
        </h4>
        <h4>
            @ViewData["ImagesCount"] @LocString["Images"]
        </h4>
        <h4>
            @ViewData["AllSize"] @LocString["Gigabytes"]
        </h4>
    </div>
</div>