@using MyServer.Data.Models
@model AccountLoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = LocString["Login"];
}

<div class="well">
    <div class="text-center">
        <h1>@LocString["Login"]</h1>
        <h2>@LocString["LoginLocal"]</h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Login" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">@LocString["Login"]</button>
                            <a class="btn btn-default" asp-area="Account" asp-controller="Register" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]">@LocString["NewUser"]</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h2>@LocString["ExternalProvider"]</h2>
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-area="Account" asp-controller="Login" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        if (provider.AuthenticationScheme.ToLower() == "facebook")
                                        {
                                            <button type="submit" style="color: white" class="btn btn-social-icon btn-lg btn-facebook" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                                <span class="fa fa-facebook"></span></button>
                                        }

                                        if (provider.AuthenticationScheme.ToLower() == "google")
                                        {
                                            <button type="submit" style="color: white" class="btn btn-social-icon btn-lg btn-google" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                                <span class="fa fa-google"></span></button>
                                        }
                                    }
                                </p>
                            </div>
                        </form>
                    }

                }
            </section>
        </div>
    </div>
</div>
