@model MyServer.Web.Main.Areas.ImageGalleryAdmin.Models.Image.ImageUpdateViewModel

<div class="form-horizontal">

    <button class="btn image-edit-box-title-btn" data-toggle="modal" data-target="#image-edit-box-title-modal">Title</button>
    <button class="btn image-edit-box-date-btn" data-toggle="modal" data-target="#image-edit-box-date-modal">Date</button>
    <button class="btn image-edit-box-location-btn" data-toggle="modal" data-target="#image-edit-box-location-modal">Location</button>
    <button class="btn image-edit-box-cover-btn">Cover</button>
    <button class="btn image-edit-box-delete-btn">Delete</button>

</div>

<div class="modal fade" id="image-edit-box-title-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateImageTitle", new AjaxOptions { UpdateTargetId = "image-list-box", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "ImageListUpdate" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Items, new { @class = "image-edit-box-modal-ids" })
                @Html.TextBoxFor(m => m.Data, new { @class = "form-control image-edit-box-modal-title" })
                <button type="submit" class="btn image-edit-box-modal-title-close"><span class="glyphicon glyphicon-ok"></span></button>
            }
            <button class="btn image-edit-box-modal-title-close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>

<div class="modal fade" id="image-edit-box-location-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateImageLocation", new AjaxOptions { UpdateTargetId = "image-list-box", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "ImageListUpdate" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Items, new { @class = "image-edit-box-modal-ids" })
                @Html.TextBoxFor(m => m.Data, new { @class = "form-control image-edit-box-modal-location" })
                <button type="submit" class="btn image-edit-box-modal-location-close"><span class="glyphicon glyphicon-ok"></span></button>
            }
            <button class="btn image-edit-box-modal-location-close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>

<div class="modal fade" id="image-edit-box-date-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateImageDate", new AjaxOptions { UpdateTargetId = "image-list-box", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "ImageListUpdate" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Items, new { @class = "image-edit-box-modal-ids" })
                @Html.TextBoxFor(m => m.Data, new { @class = "form-control", id = "image-edit-box-modal-date" })
                <button type="submit" class="btn image-edit-box-modal-date-close"><span class="glyphicon glyphicon-ok"></span></button>
            }
            <button class="btn image-edit-box-modal-date-close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>

<script>
    
</script>

