@model MyServer.Web.Main.Areas.ImageGalleryAdmin.Models.Image.ImageUpdateViewModel

<div class="form-horizontal">

    @*@using (Ajax.BeginForm("UpdateImages", new AjaxOptions
    {
        UpdateTargetId = "result",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id);
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateTaken, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DateTaken, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DateTaken, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GpsName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GpsName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GpsName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn" value="Update" />
            </div>
        </div>
    }*@

    <button class="btn image-edit-box-title-btn" data-toggle="modal" data-target="#image-edit-box-title-modal">Title</button>
    <button class="btn image-edit-box-date-btn">Date</button>
    <button class="btn image-edit-box-location-btn">Location</button>
    <button class="btn image-edit-box-cover-btn">Cover</button>
    <button class="btn image-edit-box-delete-btn">Delete</button>

</div>

<div class="modal fade" id="image-edit-box-title-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit title</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UpdateImageTitle", new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Items, new { @class = "image-edit-box-modal-ids" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Data, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Data, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Data, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn" value="Update"/>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


