@using MyServer.Web.Areas.ImageGallery.Controllers
@model MyServer.Web.Areas.Shared.Models.SortFilterAlbumViewModel

<form asp-action="@nameof(AlbumController.SortFilter)" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#image-container">
    <div class="row">
        
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-2">
                <a asp-action="Create" asp-controller="Album" asp-route-area="ImageGalleryAdmin" class="btn btn-default">@SharedLocalizer["CreateAlbum"]</a>
            </div>
        }

        <div class="col-md-2"> 
            <div>@SharedLocalizer["Search"]</div>
            @(Html.Kendo()
                .TextBoxFor(m => m.SearchString)
            )
        </div>

        <div class="col-sm-2" >
            <div>@SharedLocalizer["Sort"]</div>
            @(Html.Kendo().DropDownList()
              .Name("SortType")
              .DataTextField("Text")
              .DataValueField("Value")
              .ValueTemplate("#= data.Text #")
              .Template("#= data.Text #")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("ReadSortListTypes", "Json");
                  });
              })
            )
        </div>
    </div>
    <input type="submit" value="" class="btn btn-default" style="display:none" id="submit-button" />
</form>
<script>
    $(document).ready(function () {
        $('#SearchString').on('input', function (e) {
            $('#submit-button').click();
        });
        $('#SortType').on('change', function (e) {
            $('#submit-button').click();
        });
    });
</script>

