<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>

    @*favicon*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*favicon*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow">

    @if (System.Globalization.CultureInfo.CurrentCulture.ToString() == "bg-BG")
    {
        <link rel="alternate" hreflang="en" href="https://atanas.it/?culture=en-US" />
        <meta name="description" content="Личен портал на Атанас Георгиев. Съдържа информация за контакт, албуми, снимки, видеа и връзки към някои мои проекти." />
    }
    else
    {
        <link rel="alternate" hreflang="bg" href="https://atanas.it/?culture=bg-BG" />
        <meta name="description" content="Atanas Georgiev's personal portal. Contains contact information, albums, photos, videos and some of my works." />
    }

    <environment names="Development">
        <link href="~/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/css/bootstrap-material-design.css" rel="stylesheet"/>
        <link href="~/css/ripples.css" rel="stylesheet"/>
        <link href="~/css/justified-gallery.min.css" rel="stylesheet"/>
        <link href="~/css/image-picker.css" rel="stylesheet"/>
        <link href="~/css/lightgallery.css" rel="stylesheet"/>
        <link href="~/css/lg-transitions.css" rel="stylesheet"/>
        <link href="~/css/lg-fb-comment-box.css" rel="stylesheet"/>
        <link href="~/css/bootstrap-social.css" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @RenderSection("styles", required: false)

    <link rel="stylesheet" href="@Url.Content("https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("https://kendo.cdn.telerik.com/2016.2.714/styles/kendo.materialblack.min.css")" />

    @*Background*@
    @{
        string backgroudImage;
        if (!MemoryCache.TryGetValue("background", out backgroudImage))
        {
            backgroudImage = ImageService.GetRandomImagePath();
            MemoryCache.Set("background", backgroudImage, new MemoryCacheEntryOptions().SetAbsoluteExpiration(TimeSpan.FromDays(1)));
        }
    }

    <style>
    @@media only screen and (min-width: 768px) {
        body {
            background-image: url(@backgroudImage);
            background-size: cover;
            background-attachment: fixed;
        }
    }

    @@media only screen and (max-width: 768px) {
        body {
            background-image: url(/img/water-abstract-water-repeating-image.jpg);
            background-size: cover;
            background-attachment: fixed;
        }
    }
    </style>
    @*Background*@
</head>
<body>

<header>
    <nav>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
     
                    @*<a asp-area="" asp-controller="Home" asp-action="@nameof(HomeController.Index)" class="navbar-brand">@LocString["Title"]</a>*@
                    <a asp-area="" asp-controller="Home" asp-action="@nameof(HomeController.SetLanguage)" asp-route-culture="bg-BG" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand">
                        <img src="~/img/bg-icon.png" alt="bg icon"/>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="@nameof(HomeController.SetLanguage)" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand">
                        <img src="~/img/us-icon.png" alt="en icon"/>
                    </a>
                </div>
                <div class="navbar-collapse navbar-inverse-collapse collapse">
                    @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapTopNavWithDropdowns", filterName = NamedNavigationFilters.TopNav, startingNodeKey = "" })
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container body-content">
        <environment names="Development">
            <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
            <script src="~/js/bootstrap/bootstrap.js"></script>
            <script src="~/js/bootstrap-material-design/material.js"></script>
            <script src="~/js/bootstrap-material-design/ripples.js"></script>
            <script src="~/js/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
            <script src="~/js/image-picker/image-details.js"></script>
            <script src="~/js/image-picker/image-picker.min.js"></script>
            <script src="~/js/justified-gallery/jquery.justified-gallery.min.js"></script>
            <script src="~/js/geocomplete/jquery.geocomplete.js"></script>
            <script src="~/js/lightgallery/lightgallery-all.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @await Html.PartialAsync("_KendoScripts")
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwTwQMYg1fPJn532TT3o-_SQlbhEOf64g&libraries=places"></script>

        <br/>
        <br/>
        <br/>
        <br/>

        @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapBreadcrumbs", filterName = NamedNavigationFilters.Breadcrumbs, startingNodeKey = "" })
        @RenderBody()
    </div>
</main>

<footer class="text-center">
    <p class="copyright small">
        <a href="https://github.com/atanas-georgiev/MyServer" target="_blank">MyServer System @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion</a> &copy; @DateTime.Now.Year.ToString() - @LocString["Title"]
    </p>
</footer>

@RenderSection("scripts", required: false)

</body>

</html>
