@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyServer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/justified-gallery/dist/justified-gallery.min.css" />
        <link rel="stylesheet" href="~/lib/image-picker/dist/image-picker.css" />
        <link href="~/lib/lightgallery/dist/css/lightgallery.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Atanas Georgiev</a>
                <a asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="bg-BG" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand"><img src="~/img/bg-icon.png" /></a>
                <a asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand"><img src="~/img/us-icon.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="ImageGallery" asp-controller="Album" asp-action="Index">Albums</a>
                    </li>
                    @if (User.IsInRole(MyServer.Common.MyServerRoles.Admin))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a asp-area="ImageGalleryAdmin" asp-controller="Album" asp-action="Index">Albums</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    
    <div class="container body-content">
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
            <script src="~/lib/image-picker/dist/image-details.js"></script>
            <script src="~/lib/image-picker/dist/image-picker.min.js"></script>
            <script src="~/lib/justified-gallery/dist/jquery.justified-gallery.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwTwQMYg1fPJn532TT3o-_SQlbhEOf64g&libraries=places"></script>
            <script src="~/lib/geocomplete/jquery.geocomplete.js"></script>
            <script src="~/lib/lightgallery/dist/js/lightgallery-all.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwTwQMYg1fPJn532TT3o-_SQlbhEOf64g&libraries=places"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - MyServer</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
