<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link href="~/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/css/bootstrap-material-design.css" rel="stylesheet"/>
        <link href="~/css/ripples.css" rel="stylesheet"/>
        <link href="~/css/justified-gallery.min.css" rel="stylesheet"/>
        <link href="~/css/image-picker.css" rel="stylesheet"/>
        <link href="~/css/lightgallery.css" rel="stylesheet"/>
        <link href="~/css/lg-transitions.css" rel="stylesheet"/>
        <link href="~/css/lg-fb-comment-box.css" rel="stylesheet"/>
        <link href="~/css/bootstrap-social.css" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    @RenderSection("styles", required: false)
</head>
<body>
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@LocString["Title"]</a>
                <a asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="bg-BG" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand">
                    <img src="~/img/bg-icon.png"/>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path" class="navbar-brand">
                    <img src="~/img/us-icon.png"/>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="fa fa-home" aria-hidden="true"></i> @LocString["Home"]</a>
                    </li>
                    <li>
                        <a asp-area="ImageGallery" asp-controller="Album" asp-action="Index" class="nav-link">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i> @LocString["Albums"]</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-lock" aria-hidden="true"></i> @LocString["Admin"]
                                <b class="caret"></b>
                                <div class="ripple-container"></div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="UsersAdmin" asp-controller="Users" asp-action="Index">
                                        <i class="fa fa-user" aria-hidden="true"></i> @LocString["Users"]
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="ImageGalleryAdmin" asp-controller="Album" asp-action="Index">
                                        <i class="fa fa-file-image-o" aria-hidden="true"></i> @LocString["Albums"]</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
</header>
<div class="container body-content">
    <environment names="Development">
        <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.js"></script>
        <script src="~/js/bootstrap-material-design/material.js"></script>
        <script src="~/js/bootstrap-material-design/ripples.js"></script>
        <script src="~/js/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/image-picker/image-details.js"></script>
        <script src="~/js/image-picker/image-picker.min.js"></script>
        <script src="~/js/justified-gallery/jquery.justified-gallery.min.js"></script>
        <script src="~/js/geocomplete/jquery.geocomplete.js"></script>
        <script src="~/js/lightgallery/lightgallery-all.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwTwQMYg1fPJn532TT3o-_SQlbhEOf64g&libraries=places"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwTwQMYg1fPJn532TT3o-_SQlbhEOf64g&libraries=places"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <br/>
    <br/>

    <br/>
    <br/>
    @{
        string backgroudImage;
        if (!MemoryCache.TryGetValue("background", out backgroudImage))
        {
            backgroudImage = ImageService.GetRandomImagePath();
            MemoryCache.Set("background", backgroudImage, new MemoryCacheEntryOptions().SetAbsoluteExpiration(TimeSpan.FromDays(1)));
        }

        <style>
            @@media only screen and (min-width: 768px) {
                body {
                    background-image: url(@backgroudImage);
                    background-size: cover;
                    background-attachment: fixed;
                }
            }

            @@media only screen and (max-width: 768px) {
                body { background-color: #fff; }
            }
        </style>
    }
    @RenderBody()
    <hr>
    <footer class="text-center">
        <p class="copyright small">
            <a href="https://github.com/atanas-georgiev/MyServer" target="_blank">MyServer System @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion</a> &copy; @DateTime.Now.Year.ToString() - @LocString["Title"]
        </p>
    </footer>
</div>

@RenderSection("scripts", required: false)
</body>

</html>
