@model AccountExternalLoginListViewModel

<div class="well well-sm">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h1 class="well-title">@ViewBag.Title</h1>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <h4>External service</h4>
        </div>
    </div>
    <hr/>

    @using (Html.BeginForm("ExternalLogin", "Login", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @foreach (AuthenticationDescription p in Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes())
            {
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                </div>
            }
        </div>
    }
</div>

    
