@using System.Threading.Tasks
@using MyServer.Web.Areas.ImageGalleryAdmin.Models.Album
@using MyServer.Web.Areas.ImageGalleryAdmin.Controllers
@model MyServer.Web.Areas.ImageGalleryAdmin.Models.Album.AlbumEditViewModel

<form asp-action="@nameof(AlbumController.AlbumDataPartial)" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#album-data-partial">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" class="form-control" />

        <div class="form-group">
            <label asp-for="TitleEn" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="TitleEn" class="form-control" />
                <span asp-validation-for="TitleEn" class="text-danger" />
            </div>
            <label asp-for="TitleBg" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="TitleBg" class="form-control" />
                <span asp-validation-for="TitleBg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionEn" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.Kendo().EditorFor(model => model.DescriptionEn).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                <span asp-validation-for="DescriptionEn" class="text-danger" />
            </div>
            <label asp-for="DescriptionBg" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.Kendo().EditorFor(model => model.DescriptionBg).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                <span asp-validation-for="DescriptionBg" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Access" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Access" asp-items='@Model.AccessTypes' class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@LocString["Save"]" class="btn btn-default" />
                <a class="btn btn-default" data-href="/ImageGalleryAdmin/Album/Delete/@Model.Id" data-toggle="modal" data-target="#confirm-delete">@LocString["Delete"]</a>
                <a class="btn btn-default" asp-action="Details" asp-controller="Album" asp-route-area="ImageGallery" asp-route-id="@Model.Id">@LocString["Edit"]</a>
            </div>
        </div>

        <div class="demo-section k-content">
            @(Html.Kendo().Upload().Name("files").Async(a => a.Save("Save", "Upload").AutoUpload(true)).Events(ev => ev.Complete("onComplete")))
        </div>

    </div>
</form>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @LocString["DeleteAlbum"]
            </div>
            <div class="modal-body text-center">
                <a class="btn btn-danger btn-ok">@LocString["Delete"]</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">@LocString["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });

    function onComplete(e) {
        $.ajax({
            url: '/ImageGalleryAdmin/Album/UpdateImages',
            error: function () {
                //  $('#info').html('<p>An error has occurred</p>');
            },
            success: function (data) {
                $("#image-list-box").html(data);
                ImageListUpdate();
            },
            type: 'POST'
        });
    }
</script>
