@using MyServer.Web.Areas.ImageGalleryAdmin.Models.Album
@using MyServer.Web.Helpers
@model AddAlbumViewModel

@{
    ViewData["Title"] = LocString["NewAlbum"];
}

@Html.Partial("_KendoScriptsPartial");
@Html.Partial("_KendoStylesPartial");


<div class="well well-mobile">
    <div>
        <h2 class="text-center">@LocString["NewAlbum"]</h2>
        <hr/>
    </div>
    <div>
        <form asp-action="@nameof(AlbumController.Create)" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TitleEn" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="TitleEn" class="form-control"/>
                        <span asp-validation-for="TitleEn" class="text-danger" />
                    </div>
                    <label asp-for="TitleBg" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="TitleBg" class="form-control"/>
                        <span asp-validation-for="TitleBg" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionEn" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Html.Kendo().EditorFor(model => model.DescriptionEn).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                        <span asp-validation-for="DescriptionEn" class="text-danger" />
                    </div>
                    <label asp-for="DescriptionBg" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Html.Kendo().EditorFor(model => model.DescriptionBg).HtmlAttributes(new { @class = "form-control" }).Encoded(false)
                        <span asp-validation-for="DescriptionBg" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Access" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Access)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@LocString["Create"]" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
