@using MyServer.Web.Areas.ImageGalleryAdmin.Models.Album
@using MyServer.Web.Areas.ImageGalleryAdmin.Models.Image
@model MyServer.Web.Areas.ImageGalleryAdmin.Models.Album.AlbumEditViewModel

@{
    ViewData["Title"] = SharedLocalizer["Edit"];
}

<div class="well well-mobile">
    <div>
        <h2 class="text-center">@SharedLocalizer["Edit"]</h2>
        <hr/>
    </div>
    @Html.Partial("_AlbumDataPartial", Model)
</div>

<div class="container">
    <div class="well well-mobile" id="image-edit-box" style="display: none">
        @Html.Partial("_ImageUpdate", new ImageUpdateViewModel())
    </div>
    <button class="btn select-all">@SharedLocalizer["SelectAll"]</button>
</div>

<div class="well well-mobile" id="image-list-box">
    @Html.Partial("_ImageListPartial", Model)
</div>

<script>

    $(document)
        .ready(function () {
            $(".select-all")
                .click(function () {
                    $(".mygallery img").addClass("selected");
                    $(".overlay-admin-album-checkbox i").removeClass("fa-square-o");
                    $(".overlay-admin-album-checkbox i").addClass("fa-check-square-o");
                    imageDetailsUpdateView();
                });

            $("select.image-picker").imagepicker();

            $(".image-edit-box-title-btn")
                .click(function () {
                    $(".image-edit-box-modal-ids").attr("value", selectedIds);
                    if (selectedTitles.length === 1) {
                        $(".image-edit-box-modal-title").val(selectedTitles);
                    } else {
                        $(".image-edit-box-modal-title").val("");
                    }
                });

            $(".image-edit-box-location-btn")
                .click(function () {
                    $(".image-edit-box-modal-ids").attr("value", selectedIds);
                    if (selectedLocations.length === 1) {
                        $(".image-edit-box-modal-location").val(selectedLocations);
                    } else {
                        $(".image-edit-box-modal-location").val("");
                    }
                });

            $(".image-edit-box-date-btn")
                .click(function () {
                    $(".image-edit-box-modal-ids").attr("value", selectedIds);
                    if (selectedDates.length === 1) {
                        $("#image-edit-box-modal-date").data("kendoDatePicker").value(new Date(selectedDates[0]));
                    } else {
                        $("#image-edit-box-modal-date").data("kendoDatePicker").value(new Date());
                    }
                });

            $(".image-edit-box-submit-button")
                .click(function () {
                    $(".image-edit-box-modal-ids").attr("value", selectedIds);
                    setTimeout(worker, 200);
                });

            function worker() {
                var isStarted = false;
                var percent = 0;
                var error = false;
                $.ajax({
                    url: '/ImageGalleryAdmin/Album/GetOperationStatus',
                    success: function (data) {
                        $('.result').html(data);
                        isStarted = data.started;
                        percent = data.status;
                        error = data.error;
                    },
                    complete: function () {
                        if (error) {
                            $(".progress").hide();
                        }
                        else if (isStarted) {
                            $(".progress").show();
                            $(".progress-bar").attr("style", "width: " + percent + "%");
                            setTimeout(worker, 1000);
                        } else {
                            $(".progress").hide();
                        }
                    }
                });
            };

            $(".image-edit-box-modal-title-close")
                .click(function () {
                    $('#image-edit-box-title-modal').modal('toggle');
                    setTimeout(worker, 200);
                });

            $(".image-edit-box-modal-location-close")
                .click(function () {
                    $('#image-edit-box-location-modal').modal('toggle');
                    setTimeout(worker, 200);
                });

            $(".image-edit-box-modal-date-close")
                .click(function () {
                    $('#image-edit-box-date-modal').modal('toggle');
                    setTimeout(worker, 200);
                });

            $("#image-edit-box-modal-date").kendoDatePicker();

            $(".mygallery")
                .justifiedGallery({
                    rowHeight: 200,
                    maxRowHeight: 300,
                    fixedHeight: false,
                    margins: 2,
                    lastRow: 'nojustify',
                    captions: true,
                    captionSettings: { animationDuration: 500, visibleOpacity: 0.9, nonVisibleOpacity: 0.4 },
                    border: 0,
                    thumbnailPath: function (currentPath, width, height) {
                        if (Math.max(width, height) > 300) {
                            return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1Low$2");
                        } else {
                            return currentPath.replace(/(.*)(_[a-z]+)(\..*)/, "$1Medium$2");
                        }
                    }
                });

            $(".image-edit-box-modal-location").geocomplete();
        });
</script>

<style>
    #image-edit-box {
        position: fixed;
        display: inline-block;
        top: 60px;
        left: calc(50% - 250px);
        width: 500px;
        background: rgba(0,0,0,1)!important;
        z-index: 100;
    }

    .modal-backdrop {
        z-index: -1;
    }

    .modal {
        position: fixed;
        top: 50%;
        z-index: 100;
    }
</style>
