@using MyServer.ViewComponents.ImageGallery.Components.AllAlbums.Models
@model IEnumerable<AllAlbumsViewModel>

@{
    var LocString = ViewBag.StringLocalizer;
}

<div id="mygallery" class="overlay-album">
    @foreach (var album in Model)
    {
        <a class="overlay-album-link" href='@Url.Content(ViewBag.ViewDetailsUrl + album.Id)'>
            <img class="overlay-album-image" alt="@album.Title" src='@album.CoverImage' />
            <div class="overlay-album-caption">
                <h1 class="overlay-album-title">@album.Title</h1>
                <p class="overlay-album-content">
                    <i class="fa fa-calendar" aria-hidden="true"></i> @album.Date<br />
                    <i class="fa fa-file-image-o" aria-hidden="true"></i> @album.ImagesCountCover
                </p>
            </div>
        </a>
    }
</div>

<script>
    $(document)
        .ready(function () {
            $("#mygallery")
                .justifiedGallery({
                    rowHeight: 250,
                    maxRowHeight: 300,
                    fixedHeight: false,
                    margins: 2,
                    lastRow: 'nojustify',
                    captions: false,
                    border: 0
                });
        });
</script>
