@using cloudscribe.Web.Navigation
@using System.Text
@using Microsoft.Extensions.Localization
@using MyServer.Web.Helpers
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model NavigationViewModel
@addTagHelper *, cloudscribe.Web.Navigation
@if (Model.HasVisibleChildren(Model.RootNode))
{
    <ul class="nav navbar-nav">
        <li cwn-data-attributes="@Model.RootNode.Value.DataAttributes" class='@Model.GetClass(Model.RootNode.Value)'><a href="@Url.Content(Model.AdjustUrl(Model.RootNode))">@Html.Raw(Model.GetIcon(Model.RootNode.Value))@SharedLocalizer[Model.AdjustText(Model.RootNode)]</a></li>

        @foreach (var node in Model.RootNode.Children)
        {
            if (!Model.ShouldAllowView(node)) { continue; }
            if (!Model.HasVisibleChildren(node))
            {
                <li class='@Model.GetClass(node.Value)' cwn-data-attributes="@node.Value.DataAttributes"><a href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@SharedLocalizer[Model.AdjustText(node)]</a></li>
            }
            else
            {

                <li class='@Model.GetClass(node.Value, "dropdown")' cwn-data-attributes="@node.Value.DataAttributes">  
                    <a href="@Url.Content(Model.AdjustUrl(node))" data-target="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">@Html.Raw(Model.GetIcon(node.Value))@SharedLocalizer[Model.AdjustText(node)] <span class="caret"></span></a>
                    @Model.UpdateTempNode(node)@Html.Partial("NavigationNodeChildDropdownPartial", Model)
                </li>
            }
        }
    </ul>
}
